body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

p {
  text-align: justify;
  font-size: 13px;
}

img {
  display: block;
  margin: auto;
  width: 280px;

}

a {
  text-decoration: none;
  
}

#descricao-tabela {
  text-align: center;
  font-weight: bold;
}

#citacao {
  font-size: 12px;
  margin-left: 80px;
}